@import 'nib'

@import '_base/variable'
@import '_base/utils'
@import '_base/layout'

@import '_partial/head'
@import '_partial/nav'
@import '_partial/profile'
@import '_partial/title'
@import '_partial/article'
@import '_partial/comment'
@import '_partial/pagination'
@import '_partial/footer'
@import '_partial/archive'
@import '_partial/last'