<footer id="footer">
	<div id="social">
		<p class="small">©  <%= config.author %>| Powered by Hexo & 
			<a href="https://github.com/zker-themes/hexo-theme-lightime"> Lightime</a>
		</p>
	</div>
</footer>