.gitment-container 
	font-family sans-serif
	font-size 14px
	line-height 1.5
	color #333
	word-wrap break-word
	* 
		box-sizing border-box
	:disabled 
		cursor not-allowed
	a 
		&:hover 
			text-decoration underline
	.gitment-hidden 
		display none
	.gitment-spinner-icon 
		fill #333
		-webkit-animation gitment-spin 1s steps(12) infinite
		animation gitment-spin 1s steps(12) infinite
.gitment-container a,.gitment-container a:visited 
	cursor pointer
	text-decoration none
@-webkit-keyframes gitment-spin 100% 
	-webkit-transform rotate(360deg)
	transform rotate(360deg)
@keyframes gitment-spin 100%
	-webkit-transform rotate(360deg)
	transform rotate(360deg)
.gitment-root-container 
	margin 19px 0
.gitment-header-container 
	margin 19px 0
	display none
.gitment-comment-like-btn,.gitment-header-like-btn 
	cursor pointer
.gitment-comment-like-btn 
	float right
	&.liked 
		color color-light
	svg 
		vertical-align middle
		height 20px
.gitment-header-like-btn 
	svg 
		vertical-align middle
		height 30px
.gitment-comment-like-btn.liked svg,.gitment-header-like-btn.liked svg 
	fill color-light
a.gitment-header-issue-link,a.gitment-header-issue-link:visited 
	float right
	line-height 30px
	color #666
a 
	&.gitment-header-issue-link 
		&:hover 
			color #666
	&.gitment-editor-logout-link 
		&:hover 
			color #2196f3
			text-decoration none
	&.gitment-editor-footer-tip 
		display inline-block
		padding-top 10px
		font-size 12px
		color #666
		display none
		&:hover 
			color #2196f3
			text-decoration none
.gitment-comments-empty,.gitment-comments-error,.gitment-comments-loading 
	text-align center
	margin 50px 0
.gitment-comments-list 
	list-style none
	padding-left 0
	margin 0 0 38px
.gitment-comment,.gitment-editor-container 
	position relative
	min-height 60px
	padding-left 60px
	margin 19px 0
.gitment-comment-avatar,.gitment-editor-avatar 
	float left
	margin-left -60px
.gitment-comment-avatar,.gitment-comment-avatar-img,.gitment-editor-avatar svg,.gitment-editor-avatar-img 
	width 44px
	height 44px
	border-radius 3px
.gitment-editor-avatar 
	.gitment-github-icon 
		fill #fff
		background-color color-light
.gitment-comment-main,.gitment-editor-main 
	position relative
	border 1px dashed color-light
	border-radius 3px
	background-color rgba(255,255,255,.5)
.gitment-comment-main::after,.gitment-comment-main::before,.gitment-editor-main::after,.gitment-editor-main::before 
	position absolute
	left -16px
	display block
	width 0
	height 0
	pointer-events none
	content ""
	border-color transparent
	position absolute
	top 11px
	left -16px
	display block
	width 0
	height 0
	pointer-events none
	content ""
	border-color transparent
	border-style dashed dashed outset
	border-style dashed dashed outset
	text-shadow -20px 20px 20px 20px #000
.gitment-comment-main::before,.gitment-editor-main::before 
	border-width 8px
	border-right-color color-light
.gitment-comment-main::after,.gitment-editor-main::after 
	margin-top 1px
	margin-left 2px
	border-width 7px
	border-right-color #fff
.gitment-comment-header 
	margin 12px 15px
	color #666
	border-radius 3px
.gitment-editor-header 
	padding 0
	margin 0
	border-bottom 1px dashed color-light
a.gitment-comment-name,a.gitment-comment-name:visited 
	font-weight 600
.gitment-editor-tabs 
	margin-bottom -1px
	margin-left -1px
	border none
.gitment-editor-tab 
	display inline-block
	padding 11px 12px
	font-size 14px
	line-height 20px
	color #666
	text-decoration none
	background-color transparent
	border-width 0 1px
	border-style dashed
	border-color transparent
	border-radius 0
	white-space nowrap
	cursor pointer
	user-select none
	outline 0
	top 8px
	right 6px
	padding 8px 12px
	font-size 13px
	line-height 1.35
	&.gitment-selected 
		color color-light
		border-color color-light
		background-color rgba(255,255,255,.5)
		border-bottom 1px solid #fff
.gitment-editor-login 
	float right
	margin-top -27px
	margin-right 15px
a.gitment-editor-login-link,a.gitment-editor-login-link:visited,a.gitment-footer-project-link,a.gitment-footer-project-link:visited 
	color color-light
a.gitment-editor-logout-link,a.gitment-editor-logout-link:visited 
	color #666
.gitment-comment-body 
	position relative
	margin 12px 15px
	overflow hidden
	border-radius 3px
.gitment-comment-body-folded 
	cursor pointer
	&::before 
		display block!important
		content ""
		position absolute
		width 100%
		left 0
		top 0
		bottom 50px
		pointer-events none
		background -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(255,255,255,.9))
		background linear-gradient(180deg,rgba(255,255,255,0),rgba(255,255,255,.9))
	&::after 
		display block!important
		content "Click to Expand"!important
		text-align center
		color #666
		position absolute
		width 100%
		height 50px
		line-height 50px
		left 0
		bottom 0
		pointer-events none
		background rgba(255,255,255,.9)
.gitment-editor-body 
	margin 0
	textarea 
		display block
		width 100%
		min-height 150px
		max-height 500px
		padding 16px
		resize vertical
		max-width 100%
		margin 0
		font-size 14px
		line-height 1.6
		background-color rgba(255,255,255,.5)
		color #333
		vertical-align middle
		border none
		border-radius 0
		outline 0
		box-shadow none
		overflow visible
		&:focus 
			background-color #fff
.gitment-comment-body>:first-child,.gitment-editor-preview>:first-child 
	margin-top 0!important
.gitment-comment-body>:last-child,.gitment-editor-preview>:last-child 
	margin-bottom 0!important
.gitment-editor-preview 
	min-height 150px
	padding 16px
	background-color rgba(255,255,255,.5)
	width 100%
	font-size 14px
	line-height 1.5
	word-wrap break-word
.gitment-editor-footer 
	padding 0
	margin-top 10px
	&::after 
		display table
		clear both
		content ""
.gitment-comments-pagination 
	list-style none
	text-align right
	border-radius 0
	margin -19px 0 19px 0
.gitment-comments-page-item 
	display inline-block
	cursor pointer
	border 1px dashed #cfd8dc
	margin-left -1px
	padding .25rem .5rem
	&:hover 
		background-color #f5f5f5
	&.gitment-selected 
		background-color #f5f5f5
.gitment-comments-init-btn,.gitment-editor-submit 
	color #fff
	background-color color-light
	position relative
	display inline-block
	padding 7px 13px
	font-size 14px
	font-weight 600
	line-height 20px
	white-space nowrap
	vertical-align middle
	cursor pointer
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	background-size 110% 110%
	border none
	-webkit-appearance none
	-moz-appearance none
	appearance none
	border-radius 3px
.gitment-comments-init-btn:hover,.gitment-editor-submit:hover 
	background-color #36a4ff
.gitment-comments-init-btn:disabled,.gitment-editor-submit:disabled 
	color rgba(255,255,255,.75)
	background-color color-light
	box-shadow none
.gitment-editor-submit 
	float right
.gitment-footer-container 
	margin-top 30px
	margin-bottom 20px
	text-align right
	font-size 12px
	display none
.gitment-markdown 
	-ms-text-size-adjust 100%
	-webkit-text-size-adjust 100%
	line-height 1.5
	color #333
	font-family -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
	font-size 16px
	line-height 1.5
	word-wrap break-word
	.pl-c 
		color #969896
	.pl-ent 
		color #63a35c
	.pl-k 
		color #a71d5d
	.pl-bu 
		color #b52a1d
	.pl-ii 
		color #f8f8f8
		background-color #b52a1d
	.pl-c2 
		color #f8f8f8
		background-color #b52a1d
		&::before 
			content "^M"
	.pl-sr 
		.pl-cce 
			font-weight 700
			color #63a35c
	.pl-ml 
		color #693a17
	.pl-mq 
		color teal
	.pl-mi 
		font-style italic
		color #333
	.pl-mb 
		font-weight 700
		color #333
	.pl-md 
		color #bd2c00
		background-color #ffecec
	.pl-mi1 
		color #55a532
		background-color #eaffea
	.pl-mc 
		color #ef9700
		background-color #ffe3b4
	.pl-mi2 
		color #d8d8d8
		background-color grey
	.pl-mdr 
		font-weight 700
		color #795da3
	.pl-mo 
		color #1d3e81
	.pl-ba 
		color #595e62
	.pl-sg 
		color silver
	.pl-corl 
		text-decoration underline
		color #183691
	.octicon 
		display inline-block
		vertical-align text-top
		fill currentColor
		vertical-align text-bottom
	a 
		background-color transparent
		-webkit-text-decoration-skip objects
		color #0366d6
		text-decoration none
		&:hover 
			text-decoration underline
		&:not([href]) 
			color inherit
			text-decoration none
	strong 
		font-weight inherit
		font-weight bolder
		font-weight 600
	h1 
		font-size 2em
		margin .67em 0
		font-size 32px
		font-weight 600
		padding-bottom .3em
		font-size 2em
		border-bottom 1px dashed #eaecef
	img 
		border-style none
		max-width 100%
		box-sizing content-box
		background-color #fff
	svg 
		&:not(:root) 
			overflow hidden
	hr 
		box-sizing content-box
		height 0
		overflow visible
		height 0
		margin 15px 0
		overflow hidden
		background 0 0
		border 0
		border-bottom 1px dashed #dfe2e5
		height .25em
		padding 0
		margin 24px 0
		background-color #e1e4e8
		border 0
		border-bottom-color #eee
		&::before 
			display table
			content ""
		&::after 
			display table
			clear both
			content ""
	input 
		font inherit
		margin 0
		overflow visible
		font-family inherit
		font-size inherit
		line-height inherit
	[type=checkbox] 
		box-sizing border-box
		padding 0
	* 
		box-sizing border-box
	table 
		border-spacing 0
		border-collapse collapse
		display block
		width 100%
		overflow auto
		th 
			font-weight 600
		tr 
			background-color #fff
			border-top 1px dashed #c6cbd1
			&:nth-child(2n) 
				background-color #f5f5f5
	h2 
		font-size 24px
		font-weight 600
		padding-bottom .3em
		font-size 1.5em
		border-bottom 1px dashed #eaecef
	h3 
		font-size 20px
		font-weight 600
		font-size 1.25em
	h4 
		font-size 16px
		font-weight 600
		font-size 1em
	h5 
		font-size 14px
		font-weight 600
		font-size .875em
	h6 
		font-size 12px
		font-weight 600
		font-size .85em
		color #6a737d
	p 
		margin-top 0
		margin-bottom 10px
	blockquote 
		margin 0
		padding 0 1em
		color #6a737d
		border-left .25em dashed #dfe2e5
		& > :first-child 
			margin-top 0
		& > :last-child 
			margin-bottom 0
	dd 
		margin-left 0
	code 
		font-family SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace
		font-size 12px
		padding 0
		padding-top .2em
		padding-bottom .2em
		margin 0
		font-size 85%
		background-color rgba(27,31,35,.05)
		border-radius 0
	pre 
		margin-top 0
		margin-bottom 0
		font 12px SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace
		word-wrap normal
		& > code 
			padding 0
			margin 0
			font-size 100%
			word-break normal
			white-space pre
			background 0 0
			border 0
		code 
			display inline
			max-width auto
			padding 0
			margin 0
			overflow visible
			line-height inherit
			word-wrap normal
			background-color transparent
			border 0
	.pl-0 
		padding-left 0!important
	.pl-1 
		padding-left 4px!important
	.pl-2 
		padding-left 8px!important
	.pl-3 
		padding-left 16px!important
	.pl-4 
		padding-left 24px!important
	.pl-5 
		padding-left 32px!important
	.pl-6 
		padding-left 40px!important
	&::before 
		display table
		content ""
	&::after 
		display table
		clear both
		content ""
	& > :first-child 
		margin-top 0!important
	& > :last-child 
		margin-bottom 0!important
	.anchor 
		float left
		padding-right 4px
		margin-left -20px
		line-height 1
		&:focus 
			outline 0
	kbd 
		display inline-block
		padding 3px 5px
		font-size 11px
		line-height 10px
		color #444d56
		vertical-align middle
		background-color #fafbfc
		border dashed 1px #c6cbd1
		border-bottom-color #959da5
		border-radius 0
		box-shadow inset 0 -1px 0 #959da5
		display inline-block
		padding 3px 5px
		font 11px SFMono-Regular,Consolas,"Liberation Mono",Menlo,Courier,monospace
		line-height 10px
		color #444d56
		vertical-align middle
		background-color #fcfcfc
		border dashed 1px #c6cbd1
		border-bottom-color #959da5
		border-radius 0
		box-shadow inset 0 -1px 0 #959da5
	li 
		& > p 
			margin-top 16px
		& + li 
			margin-top .25em
	dl 
		padding 0
		dt 
			padding 0
			margin-top 16px
			font-size 1em
			font-style italic
			font-weight 600
		dd 
			padding 0 16px
			margin-bottom 16px
	.highlight 
		margin-bottom 16px
		pre 
			margin-bottom 0
			word-break normal
	.full-commit 
		.btn-outline 
			&:not(:disabled):hover 
				color #005cc5
				border-color #005cc5
	:checked 
		& + .radio-label 
			position relative
			z-index 1
			border-color #0366d6
	.task-list-item 
		list-style-type none
		& + .task-list-item 
			margin-top 3px
		input 
			margin 0 .2em .25em -1.6em
			vertical-align middle
.gitment-markdown .pl-c1,.gitment-markdown .pl-s .pl-v 
	color #0086b3
.gitment-markdown .pl-e,.gitment-markdown .pl-en 
	color #795da3
.gitment-markdown .pl-s .pl-s1,.gitment-markdown .pl-smi 
	color #333
.gitment-markdown .pl-pds,.gitment-markdown .pl-s,.gitment-markdown .pl-s .pl-pse .pl-s1,.gitment-markdown .pl-sr,.gitment-markdown .pl-sr .pl-cce,.gitment-markdown .pl-sr .pl-sra,.gitment-markdown .pl-sr .pl-sre 
	color #183691
.gitment-markdown .pl-smw,.gitment-markdown .pl-v 
	color #ed6a43
.gitment-markdown .pl-mh,.gitment-markdown .pl-mh .pl-en,.gitment-markdown .pl-ms 
	font-weight 700
	color #1d3e81
.gitment-markdown a:active,.gitment-markdown a:hover 
	outline-width 0
.gitment-markdown code,.gitment-markdown kbd,.gitment-markdown pre 
	font-family monospace,monospace
	font-size 1em
.gitment-markdown td,.gitment-markdown th 
	padding 0
.gitment-markdown h1,.gitment-markdown h2,.gitment-markdown h3,.gitment-markdown h4,.gitment-markdown h5,.gitment-markdown h6 
	margin-top 0
	margin-bottom 0
	margin-top 24px
	margin-bottom 16px
	font-weight 600
	line-height 1.25
.gitment-markdown ol,.gitment-markdown ul 
	padding-left 0
	margin-top 0
	margin-bottom 0
	padding-left 2em
.gitment-markdown ol ol,.gitment-markdown ul ol 
	list-style-type lower-roman
.gitment-markdown ol ol ol,.gitment-markdown ol ul ol,.gitment-markdown ul ol ol,.gitment-markdown ul ul ol 
	list-style-type lower-alpha
.gitment-markdown blockquote,.gitment-markdown dl,.gitment-markdown ol,.gitment-markdown p,.gitment-markdown pre,.gitment-markdown table,.gitment-markdown ul 
	margin-top 0
	margin-bottom 16px
.gitment-markdown h1 .octicon-link,.gitment-markdown h2 .octicon-link,.gitment-markdown h3 .octicon-link,.gitment-markdown h4 .octicon-link,.gitment-markdown h5 .octicon-link,.gitment-markdown h6 .octicon-link 
	color #1b1f23
	vertical-align middle
	visibility hidden
.gitment-markdown h1:hover .anchor,.gitment-markdown h2:hover .anchor,.gitment-markdown h3:hover .anchor,.gitment-markdown h4:hover .anchor,.gitment-markdown h5:hover .anchor,.gitment-markdown h6:hover .anchor 
	text-decoration none
.gitment-markdown h1:hover .anchor .octicon-link,.gitment-markdown h2:hover .anchor .octicon-link,.gitment-markdown h3:hover .anchor .octicon-link,.gitment-markdown h4:hover .anchor .octicon-link,.gitment-markdown h5:hover .anchor .octicon-link,.gitment-markdown h6:hover .anchor .octicon-link 
	visibility visible
.gitment-markdown ol ol,.gitment-markdown ol ul,.gitment-markdown ul ol,.gitment-markdown ul ul 
	margin-top 0
	margin-bottom 0
.gitment-markdown table td,.gitment-markdown table th 
	padding 6px 13px
	border 1px dashed #dfe2e5
.gitment-markdown code::after,.gitment-markdown code::before 
	letter-spacing -.2em
	content "\00a0"
.gitment-markdown .highlight pre,.gitment-markdown pre 
	padding 16px
	overflow auto
	font-size 85%
	line-height 1.45
	background-color #f5f5f5
	border-radius 0
.gitment-markdown pre code::after,.gitment-markdown pre code::before 
	content normal