nav 
	&.main-nav 
		padding 20px 20px 0
		background #fff
		background rgba(255,255,255,.9)
		margin 0 auto
		text-align right
		z-index 100
		a 
			top 8px
			right 6px
			padding 8px 12px
			color color-light
			font-size 13px
			line-height 1.35
			border-radius 3px
			&.cta 
				background color-light
				color #fff
				margin-left 12px