.profile 
	#wrapper 
		padding 100px 40px 0
		max-width page-width
		margin 0 auto
	#header 
		padding-bottom 40px
		text-align center
		position relative
	#avatar 
		display inline-block
		width 80px
		height 80px
		border-radius 50%
		margin-bottom 20px
	h1 
		font-weight 400
		letter-spacing 0
		font-size 20px
		color #222
	h2 
		font-size 20px
		font-weight 300
		color #222
		margin-top 10px
		font-family 'Helvetica Neue',Helvetica,Arial,sans-serif
		font-style normal
.home 
	#avatar 
		float right
		width 40px
		height 40px
		border-radius 50%
.description 
	float right
	font italic 14px/1.4em Georgia,serif
	color #aaa