#title 
	display inline-block
	line-height 100%
	font-weight 500
	font-size 19px
	margin 0
	padding-bottom 20px
#post-list a:hover,#post-list li:hover .dates,#title,#title:hover,a 
	text-decoration none
	color color-light
	color color-dark
#post-list a,#post-nav a,a,button
	transition all .15s ease
#post-list 
	margin-bottom 0
	h2 
		font 400 17px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif
		color #aaa
		max-width 400px
		margin-top 2px
	li 
		&:last-child 
			border-bottom 1px solid #eee
	a 
		color #333
		display block
		font 700 19px/1.7 "Helvetica Neue",helvetica,Arial,sans-serif
	.dates 
		float right
		position relative
		top 1px
		font 300 17px/1.8 "Helvetica Neue",helvetica,Arial,sans-serif
		color #bbb
#post-list-footer 
	border-top 1px solid #eee
	margin-top 20px
	padding-top 100px